# Pycache
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
env/
ENV/

# Draft posts
*.md.draft

# Database
blog.db
.env
flask_cache/

# crapOS
.DS_Store
Thumbs.db
