<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}JoshAtticus Blog{% endblock %}</title>
    <link rel="stylesheet" href="/style.css">

    <link rel="icon" type="image/png" href="/static/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/static/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png" />

    {% block meta %}{% endblock %}

    <script defer data-domain="blog.joshattic.us" src="https://plausible.joshattic.us/js/script.file-downloads.outbound-links.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2122521845436476" crossorigin="anonymous"></script>
    
    <script>
        window.isPrivacyRegion = {{ is_privacy_region|tojson }};
    </script>

    {% block head_scripts %}{% endblock %}
</head>
<body>
    {% if current_user and current_user.is_banned %}
    <div class="banned-banner">
        You've been permanently banned and won't be able to make comments. If you'd like to appeal, send an email to blog@joshattic.us with the subject line "Ban Appeal"
    </div>
    {% endif %}
    <div class="reading-progress-container">
        <div class="reading-progress" id="reading-progress"></div>
    </div>

    <header>
        <h1><a href="/">JoshAtticus Blog</a></h1>
        <nav class="nav">
            <a href="/tags">
                <svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                  <path d="M3 2v6h6V2H3zm2 2h2v2H5V4zm8-2v6h6V2h-6zm2 2h2v2h-2V4zM3 12v6h6v-6H3zm2 2h2v2H5v-2zm13-2a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h4a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1h-4zm0 2h4v2h-4v-2z" />
                </svg>
                Tags
            </a>
            <a href="/search">
                <svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                  <path d="M10 4a6 6 0 1 0 0 12 6 6 0 0 0 0-12zm-8 6a8 8 0 1 1 14.32 4.906l5.387 5.387a1 1 0 0 1-1.414 1.414l-5.387-5.387A8 8 0 0 1 2 10z" />
                </svg>
                Search
            </a>
            <a href="#" id="account-btn" class="account-btn">
                <svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                  <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" />
                </svg>
                Account
            </a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>© 2023 - {{ year }} JoshAtticus | <a href="/feed.rss">RSS Feed</a> | <a href="/privacy">Privacy</a> | <a href="/terms">Terms</a> | <a href="/contact">Contact</a></footer>

    <div id="privacy-notice" class="privacy-notice" style="display: none;">
        <p>This site uses cookies to determine how many unique users are viewing our posts. More information in our <a href="/privacy">Privacy Policy</a>.</p>
        <button id="privacy-accept">Got it</button>
    </div>

    <script src="/static/js/modal.js"></script>
    <script src="/static/js/common.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>